MINICMS_PUBLIC_URL=https://media.signalwerk.ch
MINICMS_GITHUB_CLIENT_ID=replace-me
MINICMS_GITHUB_CLIENT_SECRET=replace-me
MINICMS_SESSION_SECRET=replace-with-at-least-32-random-characters
MINICMS_READ_TOKEN=
MINICMS_PROJECT_ROOT=/srv/content-project
HOST=0.0.0.0
PORT=8787
MINICMS_IMAGE_CACHE_DIR=/srv/content-project/.cache
MINICMS_IMAGE_CONCURRENCY=2
MINICMS_IMAGE_QUEUE_LIMIT=1024
MINICMS_IMAGE_MAX_INPUT_PIXELS=268402689
MINICMS_IMAGE_MAX_OUTPUT_PIXELS=32000000
MINICMS_IMAGE_MAX_OUTPUT_BYTES=67108864
MINICMS_IMAGE_MAX_EDGE=8192
MINICMS_IMAGE_TIMEOUT_SECONDS=20
MINICMS_MEDIA_MAX_UPLOAD_BYTES=536870912
